* {
    text-transform: uppercase;
}

body {
    background-image: url("./webfiles/vecteezy_deep-blue-and-vintage-background-by-crumpled-paper-texture_3335917.jpg");
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif, auto;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    height: 100vh;
    width: 100vw;
    top: 0;
}

div.scroll_container {
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

section.scroll {
    top: 0;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
}

div.right {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50vw;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

div.left_image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

div.left_image img {
    position: absolute;
    left: 0;
    bottom: 0;
}

div.left {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 50vw;
    left: 0;
}

div.island {
    position: absolute;
    --margin-top: 7vh;
    --margin-side: 8vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin: var(--margin-top) var(--margin-top) var(--margin-side) calc(var(--margin-side) + 4vw);
    padding-top: calc(var(--margin-top) / 4);
    --height: calc(100vh - calc(var(--margin-top) * 2.25));
    height: var(--height);
    max-height: var(--height);
    min-height: var(--height);
    width: calc(50vw - 2 * var(--margin-side));
    text-align: center;
    right: 0;
    top: var(--margin-top);
    top: 0;
}

#title {
    font-weight: 700;
    font-size: 2.4em;
    margin: 2vh 0 0 0;
}

#subtitle {
    font-weight: 500;
    font-size: 1em;
}

div#buttons {
    padding: 0 10%;
}

div#buttons a svg {
    padding-bottom: 5%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

div#buttons a:first-child svg {
    padding-top: 2%;
}

div#socials a {
    color: transparent;
}

div.article_buttons {
    background-color: rgba(255, 255, 255, 0.2);
}

div.article_buttons a svg {
    margin-top: 10%;
}

div.article_buttons a:first-child svg {
    margin-top: 5%;
}

div.about {
    text-align: center;
}

div.overview {
    background-color: #4370b6;
}

div.overview div {
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

div.horizontal, div.top, div.bottom {
    display: flex;
    flex-direction: row;
}

div.top, div.bottom {
    width: 100%;
}

div.bottom {
    bottom: 0;
}

div.mugshot {
    text-align: center;
}