* {
    text-transform: uppercase;
}

body {
    background-image: url("./vecteezy_deep-blue-and-vintage-background-by-crumpled-paper-texture_3335917.jpg");
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif, auto;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

div.scroll_container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section.scroll {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

div.right {
    position: relative;
    width: 50%;
    height: 100%;
    left: 50vw;
}

div.island {
    --margin-top: 7vh;
    --margin-side: 8vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin: var(--margin-top) var(--margin-top) var(--margin-side) calc(var(--margin-side) + 4vw);
    padding-top: calc(var(--margin-top) / 4);
    --height: calc(100vh - calc(var(--margin-top) * 2.25));
    height: var(--height);
    max-height: var(--height);
    min-height: var(--height);
    width: calc(50vw - 2 * var(--margin-side));
    text-align: center;
    right: 0;
    top: var(--margin-top);
    font-size: 115%;
}

#title {
    font-weight: 700;
    font-size: 2.4em;
    margin: 2vh 0 0 0;
}

#subtitle {
    font-weight: 500;
    font-size: 1em;
}

div#buttons {
    padding: 0 10%;
}

div#buttons a svg {
    padding-bottom: 5%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

div#buttons a:first-child svg {
    padding-top: 2%;
}

div#socials a {
    color: transparent;
}