* {
    text-transform: uppercase;
}

body {
    background-image: url("img/uri_ifs___M_KZm-ZfQyg27EALqmA8-r3T9BMD9HX2SrlXPRGw409W4.webp");
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif, auto;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    height: 100vh;
    width: 100vw;
    top: 0;
}

div.scroll_container {
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

section.scroll {
    top: 0;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
}

div.right {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50vw;
    right: 0;
    text-align: right;
}

div.left img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 195%
}

div.left {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 50vw;
    left: 0;
    text-align: left;
}

div.text {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

div.island {
    position: absolute;
    --margin-top: 7vh;
    --margin-side: 6.7vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin: var(--margin-top) var(--margin-side) var(--margin-top) calc(var(--margin-side) + 4vw);
    padding-top: calc(var(--margin-top) / 4);
    --height: calc(100vh - calc(var(--margin-top) * 2.25));
    height: var(--height);
    max-height: var(--height);
    min-height: var(--height);
    width: calc(50vw - 2 * var(--margin-side));
    text-align: center;
    right: 0;
}

#title {
    font-weight: 1000;
    font-size: 3.6em;
    margin: 1.75vh 0 0 0;
}

#subtitle {
    font-weight: 550;
    font-size: 1.3em;
    margin: 1vh 0 0 0;
}

div#buttons {
    padding: 0 5%;
    margin: 1vh 0 0 0;
}

div#buttons a svg {
    padding-bottom: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 3vh 0 0 0;
    font-weight: 420;
}

div#buttons a:first-child svg {
    padding-top: 2%;
}

div#socials a img {
    height: 5vh;
    margin: 2vh 4vh 0 4vh;
}

div#socials a {
    color: transparent;
}

div.article_buttons {
    background-color: rgba(255, 255, 255, 0.2);
}

div.article_buttons a svg {
    margin-top: 10%;
}

div.article_buttons a:first-child svg {
    margin-top: 5%;
}

div.about {
    text-align: center;
}

div.overview {
    background-color: #4370b6;
}

div.overview div {
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

div.horizontal img, div.top div, div.bottom div {
    display: inline-block;
}

div.top, div.bottom {
    width: 100%;
}

div.bottom {
    bottom: 0;
}

div.mugshot {
    text-align: center;
}